{% extends "base.html" %} {% block title %}Feedback{% endblock %} 

{% block content%}

{% if admin %}
    <style>     
        /*  admin feedback container   */
        .admin-feedback{
            background-color: rgb(255, 255, 255);
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(86, 84, 84, 0.8);
            width: 1000px;
            text-align: auto;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 100px;
           
        }
         /*  admin feedback header decoration   */
        .admin-feedback h1{
            font-size: 44px;
            font-weight: bold;
        }
         /*  admin feedback label decoration   */
        .entries label{
            font-size: 14px;
            font-weight: bold;
            display: block;
    }
         /*  admin feedback rows
             to show different input side by side   */
        .rows{
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            flex-direction: row;
            gap: 15px;
        }
         /*  admin feedback rows input decoration   */
        .rows input{
            background-color: rgb(255, 255, 255);
            font-family: Poppins, sans-serif;
            font-size: 15px;
            border: 5px;
            border-radius: 5px;
            text-align: center;
            width: 70px;
            box-shadow: 0 0 10px rgb(165, 165, 165);

        /*  admin feedback email width change   */
    }   .rows .email{
            width: 370px;
    }   /*  space between different inputs */
        .column{
            padding-bottom: 20px;
        }

         /*  text are to show the feddbacks with min height 40 */
        .column textarea{
            background-color: rgb(255, 255, 255);
            font-family: Poppins, sans-serif;
            font-size: 15px;
            border: 5px;
            border-radius: 5px;
            text-align: auto;
            width: 100%;
            min-height: 40px;
            padding-left: 7px;
            box-shadow: 0 0 10px rgb(165, 165, 165);
    }

     /*  button to delete */
    .admin-feedback button{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(31, 107, 173);
        color: white;
        margin-top: 20px;
        font-size: 16px;

    }
    /*  button hover color change */
    .admin-feedback button:hover {
        background-color: rgb(93, 143, 187);
    }
    </style>

   <!-- feedback tags with div class to be able to decoration individual label and input with specific width -->
<div class="admin-feedback">
    <form method="GET" action="/delete_feedbacks">
        <h1>All Feedbacks</h1>
        {% for feedback in feedback_page %}
            <div class="entries">
            <div class="rows">
                <label for="id">Feedback Id:</label>
                <input type="text" value="{{ feedback.id }}" readonly>
            
                <label for="user_id">User Id:</label>
                <input type="text" value="{{ feedback.user_id }}" readonly>
            
                <label for="rating">Rating:</label>
                <input type="text" value="{{ feedback.rating }}" readonly>

                <label for="email">Email:</label>
                <input type="email" class="email" value="{{ feedback.user.email }}" readonly>

            </div>
            <div class="column">
                <label for="feedback">Feedback:</label>
                <textarea id="feedback" name="feedback"readonly>"{{ feedback.feedback }}" </textarea>
            
            </div>
            </div>
        {% endfor %}  
            <button type="submit">Delete ALL</button>
       
    </form>
</div>
{% else %}
    <style>
         /*  user feedback container */
        .feedback-container{
            background-color: rgb(255, 255, 255);
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(86, 84, 84, 0.8);
            width: 500px;
            text-align: auto;
            margin: auto;
            margin-top: 35px;
            margin-bottom: 100px;
        }
        /*  user feedback text area decoration */
        .feedback-container textarea{
            width: 500 px;
            height: 250px;
            margin-bottom: 20px;
            border: 2px solid #ccc;
        }
          /*  user feedback submit button */
        .feedback-container button{
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: rgb(31, 107, 173);
            color: white;
            margin-top: 20px;
            font-size: 16px;
            cursor:pointer;
                }
                 /*  user feedback submit button hover color */
        .feedback-container button:hover {
            background-color: rgb(93, 143, 187);
                }
    

    </style>
    
      <!-- text area and rating input tag -->
    <div class="feedback-container">
        <form method="POST">
            <h1> Feedback</h1>
            <textarea name="feedback" class="form-control" placeholder="Tell is what you liked and how we can improve?"></textarea>
            <label for="rating">Rate the app from 1 to 5:</label>
                <select name="rating" id="rating">
                    <option value="" disabled selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

            <button type="submit">Submit</button>
  
        </form>
    </div>
{% endif %}
{% endblock %}

